@import "~src/sass/common";

.row {
    position: relative;
    margin-bottom: 30px;
}

.content-top {
    padding: 15px 20px 10px 15px;
    display: block;
    min-width: 170px;
}

h1.al-title {
    font-weight: 400;
    color: $default-text;
    float: left;
    width: auto;
    margin: 0;
    padding: 0;
    font-size: 28px;
    opacity: 1;
}

.al-title span {
    font-weight: 400;
    color: #828282;
    font-family: $font-family;
    font-size: 28px;
}

a {
    cursor: pointer;
}