.mat-card {
  padding: 0;
}

.mat-card-title {
  margin-bottom: 0;
}

.mat-card-header {
  border-bottom: 1px solid rgba(151, 151, 151, 0.3);
  padding: 15px;
  .mat-card-title {
    font-size: 20px;
  }
}

.mat-card-header-text {
  margin: 0;
}

.mat-card-content {
  padding: 0;
}

