<app-page-header [pageTitle]="'Intents' + suffix">
    <app-menubar [items]="menuItems" (menuChange)="changeMenu($event)"></app-menubar>
    <div class="go-back" *ngIf="goBack">
        <a (click)="handleGoBack()">
            <i class="fa fa-angle-left"></i>
            <h1>Go back</h1>
        </a>
    </div>
    <div [ngClass]="{'col-md-12': !sideBar,'col-md-8': sideBar}" style="padding:0;">
        <div class="row" style="margin:10px 0;padding-top:20px;" *ngFor="let item of mainItems">
            <h3>{{item.heading.name}}</h3>
            <div class="outter" [ngClass]="{'col-md-4': !sideBar,'col-md-6': sideBar}" *ngFor="let intent of item.intents">
                <app-card [item]="intent" [assignees]="assignees" (action)="intentAction($event)" (assigneeChange)="changeAssignee($event)"></app-card>
            </div>
            <div class="col-md-4" *ngIf="newButton && userType === 'agent'">
                <div class="intent-add">
                    <i class="fa fa-plus-circle pagination-icon" (click)="addNewIntent()"></i>
                </div>
            </div>
            <app-pagination [collectionSize]="item.count" [(page)]="page[item.heading.value]" [maxSize]="3" [disabled]="paginationDisabled"
                (pageChange)="pageChanged($event)" [noPerPage]="9" [type]="item.heading.value"></app-pagination>
        </div>
    </div>
    <div *ngIf="sideBar" class="col-md-4 right-div">
        <form>
            <div style="padding:15px 20px;">
                <div *ngIf="intent.reject; else add;">
                    <p class="form-label">Comment</p>
                    <div class="form-group">
                        <textarea [(ngModel)]="intent.comment" style="padding: 3px;" class="form-control form-textarea"
                            name="intentName" maxlength="1024" [disabled]="intent.disable" placeholder="Comment"></textarea>
                    </div>
                </div>

                <ng-template #add>
                    <p class="form-label">Intent name</p>
                    <div class="form-group">
                        <textarea [(ngModel)]="intent.name" style="padding: 3px;" class="form-control form-textarea"
                            name="intentName" maxlength="1024" [disabled]="intent.disable"></textarea>
                    </div>

                    <p class="form-label">Description</p>
                    <div class="form-group">
                        <textarea [(ngModel)]="intent.description" style="padding: 3px;" class="form-control form-textarea"
                            name="description" maxlength="1024" [disabled]="intent.disable"></textarea>
                    </div>

                    <p class="form-label">Examples</p>
                    <div class="form-group">
                        <tag-input [(ngModel)]="intent.examples" name="examples" [placeholder]="'Add Examples'"
                            [secondaryPlaceholder]="'Add Examples'" theme="bootstrap3-info" [identifyBy]="'_id'"
                            [displayBy]="'example_name'" [disable]="intent.disable" [separatorKeys]="[',']"></tag-input>
                    </div>
                </ng-template>

                <div>
                    <button class="btn-blue" style="margin-right:10px;" *ngIf="intent.add" (click)="createIntent(intent)">
                        Add
                    </button>
                    <button class="btn-blue" style="margin-right:10px;" *ngIf="intent.reject" (click)="rejectIntent(intent)">
                        Reject
                    </button>
                    <button class="btn-blue" style="margin-right:10px;" *ngIf="intent.update" (click)="updateIntent(intent)">
                        Update
                    </button>
                    <button class="btn-grey" style="margin-right:10px;" (click)="cancelIntent()">
                        Cancel
                    </button>
                </div>
            </div>
        </form>
    </div>
</app-page-header>